---
---

@import "{{ site.theme }}";
body {
  background-image: url('/images/pexels-carlo-obrien-402486657-15151255.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
html {
  height: 100%;
}
h1, h2 {
  color: black !important;
  margin-top: 2rem !important;
  text-align: center;
}
